body {
  background-color: lightblue;
  color: white;
}

.container {
  margin: 300px auto 0 auto;
  width: 70%;
}

.rotate {
  -webkit-animation: rotate 4s infinite linear;
          animation: rotate 4s infinite linear;
  width: 20%;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

